%section.feature-group.u-subtle-bg
  .container
    .row.flex-row
      .col-sm-6.col-md-3.col-lg-3
        .feature.js-all-clickable
          .feature-media
            = image_tag "/images/feature-thumbs/feature-thumb-join-gitlab.png", alt: 'GitLab.com login screenshot', srcset: "/images/feature-thumbs/feature-thumb-join-gitlab_2x.png 2x"
          .feature-body
            %h2.feature-title Join GitLab.com
            %p.feature-description Complete the online application to begin hosting and exploring projects.
            %a.feature-more{href: "https://gitlab.com/users/sign_in"} Sign up

      .col-sm-6.col-md-3.col-lg-3
        .feature.js-all-clickable
          .feature-media
            = image_tag "/images/feature-thumbs/feature-thumb-containers-for-five-things-kubernetes-blog-post.png", alt: 'Containers', srcset: "/images/feature-thumbs/feature-thumb-containers-for-five-things-kubernetes-blog-post_2x.png 2x"
          .feature-body
            %h2.feature-title GitLab blog
            %p.feature-description 5 things I wish I'd known about Kubernetes before I started
            %a.feature-more{href: "/2018/04/16/five-things-i-wish-i-knew-about-kubernetes/"} Read more

      .col-sm-6.col-md-3.col-lg-3
        .feature.js-all-clickable
          .feature-media
            = image_tag "/images/feature-thumbs/feature-thumb-cloud-devops-world.png", alt: 'Cloud & DevOps World logo', srcset: "/images/feature-thumbs/feature-thumb-cloud-devops-world_2x.png 2x"
          .feature-body
            %h2.feature-title Cloud & DevOps World 2018
            %p.feature-description Drive business growth. Streamline enterprise. Innovate your future.
            %a.feature-more{href: "https://tmt.knect365.com/cloud-devops-world/sponsors/gitlab"} Join us

      .col-sm-6.col-md-3.col-lg-3
        .feature.js-all-clickable
          .feature-media
            = image_tag "/images/feature-thumbs/feature-thumb-demo.png", alt: 'GitLab Demo', srcset: "/images/feature-thumbs/feature-thumb-demo_2x.png 2x"
          .feature-body
            %h2.feature-title Live Demo
            %p.feature-description Join a live demo of GitLab for the enterprise.
            %a.feature-more{href: "/webcast/gitlab-enterprise-demo/"} Reserve your spot
