---
layout: markdown_page
title: Release Post Managers
---

%div{:style => "margin: 25px 0px; "}
  %h3 Release Post Scheduling
  Each month a Product Manager will lead the release post, as defined in the #{link_to "Release Posts page", "../#authorship"}.

%table.table-responsive{:style => "margin-bottom: 25px;"}
  %thead
    %tr
      %th{:style => "padding-right: 50px; text-align: right;"}
        Version
      %th
        Manager
      %th
        Release date
  %tbody
    - data.release_post_managers.releases.each do |r|
      - manager = data.release_post_managers.managers.find {|m| m.handle == r.manager}
      - date = Date.parse(r.date)
      %tr
        %td{:style => "padding-right: 50px; text-align: right;"}
          - if (date - Date.today).to_i < 0
            = link_to "#{r.version}", "/#{date.strftime('%Y/%m/%d')}/gitlab-#{r.version.tr('.', '-')}-released"
          - else
            = r.version
        %td
          - if manager
            = link_to "#{manager.name}", "/team/##{manager.team_page}"
        %td
          = date.strftime("%B #{date.day.ordinalize}, %Y (%a)")
