---
layout: default
title: "GitLab Core Team"
description: "Learn about the GitLab core team members who do a lot of fixes, improvements, and refactoring."
suppress_header: true
extra_css:
  - core.css
---
.wrapper
  .simple-header
    %h1 Core Team
  .container.page-container
    .row.col-xs-12
      %p Many core team members did a lot of fixes, improvements and refactoring. The above list indicates some of their specialties but it is not complete.
      %p
        The GitLab core-team is not bound to any single (not-)for-profit organization.
        This arrangement is similar to those of the Ruby, Ruby on Rails, Linux and PostgreSQL projects.
        There is no formal process, team members discuss topics on the
        %a{href: "https://groups.google.com/forum/#!forum/gitlab-core"} private gitlab-core mailing list
        and Slack channel.
        You can get invited for the core team after
        %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md"} contributing
        to GitLab for a sustained period of time.
        You can contribute by coding but also by giving feedback on merge requests, triaging on the issue tracker or helping out on the mailinglist.
        Core contributors are invited after a proposal from a core-team member that gets two positive responses on the core-team mailing list and no negative ones.
      %p
        See
        %a{href: "/alumni/"} core team alumni page
        for core team alumni.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/core-team/robert.jpeg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://twitter.com/Razer6"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/u/razer6"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/Razer6"}
              .github.no-margin
      .col-sm-8
        %h2.title Robert Schilling
        %p Robert is a developer who loves science and technology. He currently studies telematics with focus on digital signal processing at Graz University of Technology.  In his spare time he enjoys mountain biking, skiing and photography. When not in front of his computer, Robert can often be found with a glass of good single malt whisky or beer in his hand discussing sports and open source software.
        %h3.title Specialities
        %ul
          %li
            issue triage lead
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/core-team/hannes.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://gitlab.com/u/haynes"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/123Haynes"}
              .github.no-margin
      .col-sm-8
        %h2.title Hannes Rosenögger
        %p
          Hannes is a developer who loves open source.
          His motto is: "If something is broken that you need and you are able to fix it, don't just talk about it. Fix it!"
          In his spare time he enjoys swimming, badminton and relaxing with his friends.
          When he is not in front of his computer, he can often be found on various camping places where he helps out the scouts of his hometown.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/core-team/newton.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://jamesnewton.com"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/jameswritescode"}
              .twitter.no-margin
          %li
            %a{href: "https://www.linkedin.com/in/jameswritescode"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/u/newton"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/jameswritescode"}
              .github.no-margin
      .col-sm-8
        %h2.title James Newton
        %p James is a software developer in Orlando, FL, US.
        %p He started following GitLab development in 2012 looking for a better git management interface. Needless to say, it was love at first sight. Since then he's has been supporting GitLab users in the freenode IRC channel.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/core-team/blackst0ne.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://gitlab.com/blackst0ne"}
              .gitlab.no-margin
          %li
            %a{href: "https://twitter.com/blackst0ne"}
              .twitter.no-margin
          %li
            %a{href: "https://github.com/blackst0ne"}
              .github.no-margin
      .col-sm-8
        %h2.title Vitaliy "blackst0ne" Klachkov
        %p Vitaliy is a software developer from Yuzhno-Sakhalinsk, Sakhalin, Russia.
        %p He works for a company that is engaged in scientific seismological research and monitoring of seismic activity.
        %p Before Vitaliy became a full-time software developer, he administrated Linux systems related to science, banking, and software development.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/core-team/tnir.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://gitlab.com/tnir"}
              .gitlab.no-margin
          %li
            %a{href: "https://twitter.com/tn961ir"}
              .twitter.no-margin
          %li
            %a{href: "https://github.com/tnir"}
              .github.no-margin
      .col-sm-8
        %h2.title Takuya Noguchi
        %p Takuya is a software engineer specializing in digital transformation from Tokyo, Japan.
        %p He started to use Git in 2005 but started to contribute to GitLab in 2015, which was not so earlier. He focuses on keeping GitLab easier to contribute as well as to fix bugs and to add features.
        %p
          In 2016 he co-founded the local GitLab communities named as
          %a{href: "https://gitlab-jp.connpass.com/"} GitLab Tokyo and GitLab.JP
          and they reach 800 members (as of Nov 2017) in total.
        %p
          He is also one of
          %a{href: "https://www.cncf.io/people/ambassadors/"} the Cloud Native Ambassadors of Cloud Native Computing Foundation
          to encourage developers to adopt a cloud native computing paradigm to various kinds of applications and systems.
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "https://secure.gravatar.com/avatar/692fb66988ac3863f360e846c1afc4f3?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://jacopobeschi.com"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/JacopoBeschi"}
              .twitter.no-margin
          %li
            %a{href: "https://www.linkedin.com/in/jacopobeschi"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/jacopo-beschi"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/intrip"}
              .github.no-margin
      .col-sm-8
        %h2.title Jacopo Beschi
        %p Jacopo is a software developer from Brescia, Italy.
        %p He started to contribute to Gitlab in late 2016.
        %p He focuses on bug fixes and new features in various sides of the app: backend, frontend, api, edge. He enjoys test automation and static code analysis tools.
        %p In his spare time he enjoys gym training and watching programming talks.
