---
layout: markdown_page
title: Jobs
description: Browse job openings at GitLab and apply to join a very productive, ambitious team, where independence and flexibility are both valued and required.
---

## On this page
{:.no_toc}

- TOC
{:toc}

## About GitLab

GitLab is quickly becoming the standard for source code version
management for any company, large or small. At GitLab, we help large
enterprises move to Git and build better software.

<iframe width="560" height="315" src="https://www.youtube.com/embed/Mkw1-Uc7V1k" frameborder="0" allowfullscreen></iframe>

## Why work for GitLab?

GitLab is growing fast.
Working for GitLab means joining a very productive, ambitious team, where independence
and flexibility are both valued and required.
Your work will directly have a large impact on the present and future of GitLab.
We like to spend our time on things that matter.
We are a [remote only company](/2015/04/08/the-remote-manifesto/).
For more background please see our [about page](/about/),
our [culture page](/culture/), our [handbook](/handbook/), and our [hiring guidelines](/handbook/hiring/).

<a name="no-recruiters"></a>
## We don't accept solicitations by recruiters

We do not accept solicitations by recruiters, recruiting agencies, headhunters and outsourcing organizations.
If you email us we'll reply with [a link to this paragraph](/jobs/#no-recruiters) to indicate we would very much appreciate it if you stop emailing us and remove us from any marketing list.

## Country Hiring Guidelines

At GitLab, we hire people from all over the world and all walks of life.
Diversity is one of our main core values regardless of race, gender and ethnicity.
However, with being a [remote only company](/culture/remote-only/) we face challenges as it pertains to hiring in certain countries. 
Each country has unique and complex rules, laws and regulations, which can affect us to conduct business, as well as the employability of the citizens of those countries.
Therefore, at this time we are unable to hire employees and contractors in the specified countries below.
With that said, we are growing rapidly and continuously expanding our hiring capabilities in other geographies.
We encourage you to continue to check our handbook as we establish presences in other countries.


<% data.country_no_hire.sort.each_with_index do |country_name, i| %>
  <%= country_name %><%= ',' unless data.country_no_hire.count == i + 1 %>
<% end %>


In countries listed in our [contract_types.yml file](https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/contract_types.yml), we have a payroll and can employ you as an employee. In all other countries we can, hire you as a contractor.


## Vacancies

All of our vacancies are hosted on our applicant tracking system (ATS), [Lever](https://www.lever.co/). The below list will dynamically load our current vacancies from Lever; if you do not see the list, please view the [vacancies directly on Lever](https://jobs.lever.co/gitlab).

<!-- Load lever jobs dynamically, generated by lever -->
<div id='lever-jobs-container'></div>
<script type='text/javascript'>
  window.leverJobsOptions = {accountName: 'gitlab', includeCss: true};
</script>
<script type='text/javascript' src='https://gitlab-org.gitlab.io/lever-jobs-embed/index.js'></script>


## Questions?

For further questions about our [hiring process](/handbook/hiring) or posted jobs, please feel free to send an email to jobs@gitlab.com.
