---
layout: default
---
- content_for :title do
  = categories.to_s.capitalize
.blog.archives
  .wrapper
    .section
      %ul
        - page_articles.each do |post|
          %li
            = link_to post.url do
              = post.title
            - if post.date
              %time
                = post.date.to_time.strftime '%b %e, %Y'
